// light colors

$ArtyClick-Deep-Sky-Blue: #0079FF;
$Greyish-Blue: #697C9A;
$Kashmir-Blue: #4B6A9B;
$Gunmetal: #2B3442;
$Zircon: #F6F8FF;
$Pale-grey: #FEFEFE;
$error-color: #F74646;
//dark color

$ArtyClick-Deep-Sky-Blue: #0079FF;
$White: #FFFFFF;
$Mirage: #141D2F;
$Blue-Zodiac: #1E2A47;

$primary-color: $ArtyClick-Deep-Sky-Blue;
$text-dark-primary: $White;
$text-light-primary: $Kashmir-Blue;
$text-light-secondary:  $Gunmetal;
$main-background-dark: $Mirage;
$main-background-light: $Zircon;
$background-dark: $Blue-Zodiac;
$background-light: $Pale-grey;